Classroom Info
<p>
<%= @classroom.course_name %> #dislapy the course name 
<%= @classroom.semester %> 
</p>

We now want to call out the oldest student in the class:
<ul>
<%= render 'students/student' %> # this does all the heavy lifing (go into students then look for a file called student)
</ul>
  
